@using MVCExtention;
@{
    ViewBag.Title = "短信模板设置";
}

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="@Url.Action("Edit")"><i></i><span>新增</span></a></li>
                    <li><a class="add" href="javascript:;" onclick="EditGrid('jqxgrid', '@Url.Action("Edit")');"><i></i><span>编辑</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="DelGrid('jqxgrid', '@Url.Action("Delete")');"><i></i><span>删除</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="jqxgrid"></div>
</div>
<!--/列表-->
@section  scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            var url = "@Url.Action("GetList")";
            var datafields = [

  { name: 'ID' },
  { name: 'SendType' },
  { name: 'IsManager' },
  { name: 'ManagerTel' },
  { name: 'MsgTemplate' },
  { name: 'RelationPlatName' },
  { name: 'IsEnable' },
  { name: 'Note' }
            ];
            var columns = [
                 
  { text: '发送类型', dataField: 'SendType', cellsalign: "left", width: 200 },

  { text: '接收短信方', dataField: 'IsManager',@HelperExtend.Parsebool() },

  { text: '商家接收手机号', dataField: 'ManagerTel', cellsalign: "left" },

  { text: '短信模板', dataField: 'MsgTemplate', cellsalign: "left" },

  { text: '关联短信平台', dataField: 'RelationPlatName'   },

  { text: '启用', dataField: 'IsEnable', width: 80,@HelperExtend.ParseEnable() },

  { text: '备注', dataField: 'Note', cellsalign: "left" } 

            ];
            CreateGrid("jqxgrid", url, datafields, columns);


        });
    </script>
}
