@using MVCExtention;
@{
    ViewBag.Title = "促销活动";
}

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="@Url.Action("Edit")"><i></i><span>新增</span></a></li>
                    <li><a class="edit" href="javascript:;" onclick="EditGrid('jqxgrid', '@Url.Action("Edit")');"><i></i><span>修改</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="DelGrid('jqxgrid', '@Url.Action("Delete")');"><i></i><span>删除</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="jqxgrid"></div>
</div>
<!--/列表-->
@section  scripts{
     

    <script type="text/javascript">
        $(document).ready(function () {
            var url = "@Url.Action("GetList")";
           
            var datafields = [{ name: 'ID' }, { name: 'RuleName' }, { name: 'BuyCategoryName' }, { name: 'BuyProductName' },

		{ name: 'BuyCount' }, { name: 'CouponName' }, { name: 'MinPrice' }, { name: 'StartDate' },

		{ name: 'EndDate' }, { name: 'ActiveStatus' }, { name: 'CreateUser' }, { name: 'CreateDate' }];
            var columns = [
{ text: '促销规则', dataField: 'RuleName', cellsalign: "left", width: 150 },
  { text: '开始时间', dataField: 'StartDate', width: 130 },

  { text: '结束时间', dataField: 'EndDate', width: 130 },

  { text: '商品分类名称', dataField: 'BuyCategoryName', cellsalign: "left", width: 100 },

  { text: '商品名称', dataField: 'BuyProductName', cellsalign: "left", width: 200 },

  { text: '购买数量', dataField: 'BuyCount', cellsalign: "right", cellsalign: "right", width: 80 },

  { text: '赠送优惠券', dataField: 'CouponName', cellsalign: "left", width: 100 },
  { text: '最低金额', dataField: 'MinPrice', cellsalign: "right", width: 80 },

  { text: '创建人', dataField: 'CreateUser', width: 100 },

  { text: '创建时间', dataField: 'CreateDate', width: 130 }];
            CreateGrid("jqxgrid", url, datafields, columns );
            


        });
    </script>
    

}
