@using MVCExtention;
@{
    ViewBag.Title = "新闻分类";
}
 
<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="@Url.Action("Edit")"><i></i><span>新增</span></a></li>
                    <li><a class="add" href="javascript:;" onclick="Edit();"><i></i><span>编辑</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="Del( );"><i></i><span>删除</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="treeGrid">
    </div>
</div>
<!--/列表-->
@section  scripts{ 
    
    <script type="text/javascript">
        $(document).ready(function () {

            var source =
             {
                 dataType: "json",
                 dataFields: [

    { name: 'ID', type: 'string' },

    { name: 'ParentID', type: 'string' },

    { name: 'Code', type: 'string' },

    { name: 'Name', type: 'string' },

    { name: 'FJM', type: 'string' }, 

    { name: 'JS', type: 'string' }, 
    { name: 'Note', type: 'string' },

    { name: 'OrderNo', type: 'string' }

                 ],
                 timeout: 10000,
                 hierarchy:
                 {
                     keyDataField: { name: 'ID' },
                     parentDataField: { name: 'ParentID' }
                 },
                 id: 'ID',
                 root: 'Rows',
                 url: " @Url.Action("GetList", "NewsCategory", new { area = "Admin" })"
             };
            var dataAdapter = new $.jqx.dataAdapter(source);
            var totalHeight = $(window).outerHeight();
            if (totalHeight == 0) {
                totalHeight = $(window).clientHeight();
            }
            var topHight = 50;

            var middleHeight = totalHeight - topHight;

            $("#treeGrid").jqxTreeGrid(
                       {
                           width: "95%",
                          
                           source: dataAdapter,
                           columns: [
             { text: '编码', dataField: 'Code', type: 'string', width: 200 },
             { text: '名称', dataField: 'Name', type: 'string', width: 200 }, 
             { text: '顺序', dataField: 'OrderNo', type: 'string', width: 50 },
             { text: '备注', dataField: 'Note', type: 'string' }
                           ]
                       });
        });
    </script>
    <script type="text/javascript">
        function Edit() {
            var data = $("#treeGrid").jqxTreeGrid('getSelection');
            if (data.length == 1) {

                href = "@Url.Action("Edit", new  { area="admin" })";
                location.href = href + "/" + data[0].ID;
            } else { ErrorMsg("请选择一条数据"); }


        }

        function Del() {
            var data = $("#treeGrid").jqxTreeGrid('getSelection');
            if (data.length == 1) {

                href = "@Url.Action("Delete", new { area = "admin" })";
                $.post(href, { ID: data[0].ID }, function (d) {
                    ErrorMsg(d);
                    if (d.indexOf("成功")>-1) {
                        $("#treeGrid").jqxTreeGrid('deleteRow', data[0].ID);
                    }
                });
            } else { ErrorMsg("请选择一条数据"); }
        }
    </script>
}