@using MVCExtention;
@{
    ViewBag.Title = "选择商品";
}

<!--工具栏-->
 
 
<!--/工具栏-->
<!--列表-->
<div class="table-container" style="height:100%">
    <div>
        <span>
            @HelperExtend.DropDownListClass("qryALLCategory", "商品分类", Url.RouteUrl("ApiWithWeb", new { controller = "APP", action = "GetChildCategory" }))
        </span><input name="ProductName" width="200" class="input normal " id="ProductName" type="text" value="">
        <input type="button" class="searchBtn" value="搜索" id='BtnqryCateTj' />
        <div style="margin-top: 5px;" id="jqxgrid"></div>
    </div>
</div>
<!--/列表-->
@section  scripts{

<script type="text/javascript">
    var url = "@Url.Action("GetList")";
    var datafields = [{ name: 'ID' }, { name: 'Code' }, { name: 'Name' }, { name: 'TypeName' },

{ name: 'BrandName' }, { name: 'SaleDate' }, { name: 'AddedDate' }];
    var columns = [
{ text: '编号', dataField: 'Code', width: 100, cellsalign: "left" },
{ text: '名称', dataField: 'Name', width: '300', cellsalign: "left" },
{ text: '商品类型', dataField: 'TypeName', width: 80 },
{ text: '品牌', dataField: 'BrandName', width: 80 },
{ text: '上架日期', dataField: 'SaleDate', width: 80 },
{ text: '添加日期', dataField: 'AddedDate', width: 80 }];
    $(function () {
         
       

        $(".searchBtn").jqxButton({ width: '100', template: "success" });
        $('#BtnqryCateTj').on('click', function () {
            $('#jqxgrid').jqxGrid('updatebounddata');
        });

        CreateGrid("jqxgrid", url, datafields, columns, {
            grid: { pagesize: 10, width: '99%', autoheight: true }, adapter: {
                formatData: function (data) {
                    data.categoryID = $("#qryALLCategory").val();
                    data.Name = $("#ProductName").val();
                }
            }
        });

    });


</script>
     
}
