<div id="messageNotification">
    <div>
        <div id="msgDiv"></div>
    </div>
</div>


<div id="eventWindow" style="display:none">
    <div>
        @HelperExtend.img("help.png", "width:16px;height:16px") 
        <span id="eventWindowTitle">确认</span>
    </div>
    <div>
        <div id="eventWindowContent">
            确定要删除吗？
        </div>
        <div style="float: right;   position:relative;right:10px;bottom:-40px">
            <div>
                <input type="button" id="ok" value="确定" style="margin-right: 10px" />
                <input type="button" id="cancel" value="取消" />
            </div>
        </div>
    </div>
</div>

