<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
</head>
<body>
    <div class="list-group">
        <h1 title="商品"><img src="/Content/skin/default/nav/pus.png" /></h1>
        <div class="list-wrap">
            <h2>商品管理<i></i></h2>
            <ul>
                <li>
                    <a>
                        <span>商品管理</span>
                    </a>
                    <ul>
                        <li>
                            <a href="/Admin/ShopCategory" target="mainframe">
                                <span>商品分类</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/ShopBrandInfo" target="mainframe">
                                <span>商品品牌管理</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/ShopProductType" target="mainframe">
                                <span>商品类型</span>
                            </a>
                        </li>
                        <li>
                            <a href="eshop/Admin/ShopProductInfo" target="mainframe">
                                <span>商品维护</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/ShopProductStationMode" target="mainframe">
                                <span>商品推荐</span>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>

    
                    <ul>
                        <li>
                            <a href='/Admin/ShopCategory' target='mainframe'>
                                <span>
                                    商品分类
                                </span>
                            </a>
                            <ul></ul>
                        </li>
                        <li>
                            <a href='/Admin/ShopBrandInfo' target='mainframe'>
                                <span>
                                    品牌管理
                                </span>
                            </a>
                            <ul></ul>
                        </li>
                        <li>
                            <a href='/Admin/ShopProductType' target='mainframe'>
                                <span>
                                    商品类型
                                </span>
                            </a>
                            <ul></ul>
                        </li>
                        <li>
                            <a href='/Admin/ShopProductInfo' target='mainframe'>
                                <span>
                                    商品维护
                                </span>
                            </a>
                            <ul></ul>
                        </li>
                        <li>
                            <a href='/Admin/ShopProductStationMode' target='mainframe'>
                                <span>
                                    商品推荐
                                </span>
                            </a>
                            <ul></ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class='list-group'>
        <h1 title='订单'>
            <img src='' />
        </h1>
        <div class='list-wrap'>
            <h2>
                订单管理
                <i>
                </i>
            </h2>
            <ul>
                <li>
                    <a href='#' target='mainframe'>
                        <span>
                            订单管理
                        </span>
                    </a>
                    <ul>
                        <li>
                            <a href='/' target='mainframe'>
                                <span>
                                    待确认订单
                                </span>
                            </a>
                            <ul></ul>
                        </li>
                        <li>
                            <a href='/' target='mainframe'>
                                <span>
                                    全部订单
                                </span>
                            </a>
                            <ul></ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href='#' target='mainframe'>
                        <span>
                            订单设置
                        </span>
                    </a>
                    <ul>
                        <li>
                            <a href='/Admin/ShopPaymentTypes' target='mainframe'>
                                <span>
                                    支付方式
                                </span>
                            </a>
                            <ul></ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class='list-group'>
        <h1 title='营销'>
            <img src='' />
        </h1>
        <div class='list-wrap'>
            <h2>
                营销管理
                <i>
                </i>
            </h2>
            <ul>
                <li>
                    <a href='#' target='mainframe'>
                        <span>
                            基础设置
                        </span>
                    </a>
                    <ul>
                        <li>
                            <a href='/Admin/RedeemRules' target='mainframe'>
                                <span>
                                    积分规则
                                </span>
                            </a>
                            <ul></ul>
                        </li>
                        <li>
                            <a href='/' target='mainframe'>
                                <span>
                                    优惠券管理
                                </span>
                            </a>
                            <ul></ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class='list-group'>
        <h1 title='会员'>
            <img src='' />
        </h1>
        <div class='list-wrap'>
            <h2>
                会员管理
                <i>
                </i>
            </h2>
            <ul>
                <li>
                    <a href='#' target='mainframe'>
                        <span>
                            会员管理
                        </span>
                    </a>
                    <ul></ul>
                </li>
                <li>
                    <a href='#' target='mainframe'>
                        <span>
                            会员日志
                        </span>
                    </a>
                    <ul></ul>
                </li>
                <li>
                    <a href='#' target='mainframe'>
                        <span>
                            会员设置
                        </span>
                    </a>
                    <ul></ul>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
