

<!DOCTYPE html>
@Styles.Render("~/bundles/productcss")
@Styles.Render("~/bundles/newscss")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
    <style>
        #detail h1 {
            padding: 10px 0 15px;
            margin-bottom: 10px;
            height: 24px;
            text-align: center;
            border-bottom: 1px solid #EBEBEB;
            font-family: \5fae\8f6f\96c5\9ed1;
            line-height: 24px;
            font-size: 20px;
        }

        #detail {
            border: 1px solid #EBEBEB;
            padding: 15px 30px 0;
            font-family: \5fae\8f6f\96c5\9ed1;
            margin-left: 220px;
            color: #666;
        }

            #detail .summary {
                text-align: center;
                color: #999;
            }

            #detail .mc {
                padding: 30px 10px;
                font-size: 14px;
                line-height: 2em;
            }
    </style>
</head>
<body>
    <div class="floor" style=" margin-top: 10px;">
        <div id="view-buy" style=" margin-top: 0px;">
            <div class="mt">
                <h2>
                    推荐商品
                </h2>
            </div>
            <div class="mc">
                <ul>
                    <li class="fore1">
                        <div class="p-img">
                            <a target="_blank" href="//item.jd.com/1777837.html">
                                <img height="100" width="100" src="http://img12.360buyimg.com/n4/jfs/t2776/197/120408794/126655/69d0a6b6/5703f34bN3884f143.jpg" class="">
                            </a>
                        </div>
                        <div class="p-name">
                            <a target="_blank" href="//item.jd.com/1777837.html">
                                海信（Hisense）LED55EC520UA 55英寸 VIDAA3 14核 炫彩4K智能电视(黑色)
                            </a>
                        </div>
                        <div class="p-price">
                            <strong class="J-p-1777837">￥3599.00</strong>
                        </div>
                    </li>
                    <li class="fore1">
                        <div class="p-img">
                            <a target="_blank" href="//item.jd.com/1777837.html">
                                <img height="100" width="100" src="http://img12.360buyimg.com/n4/jfs/t2776/197/120408794/126655/69d0a6b6/5703f34bN3884f143.jpg" class="">
                            </a>
                        </div>
                        <div class="p-name">
                            <a target="_blank" href="//item.jd.com/1777837.html">
                                海信（Hisense）LED55EC520UA 55英寸 VIDAA3 14核 炫彩4K智能电视(黑色)
                            </a>
                        </div>
                        <div class="p-price">
                            <strong class="J-p-1777837">￥3599.00</strong>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id='detail'>
            <div class="title">
                <h1>大连柳州开仓 211限时达扩大</h1>

                <div class="summary">时间：2016-05-10 17:08:22&nbsp;&nbsp;&nbsp;&nbsp;</div>
            </div>
            <div class="mc"><p>尊敬的各位京东网友：</p><p><br></p><p>京东商城大连仓及柳州仓于5月9日起正式投入运营。大连仓将覆盖整个大连市，柳州仓将覆盖广西柳州市、桂林市、河池市及来宾市。</p><p><br></p><p>两个新开仓将全面提升到货时效，大连市内地区以及柳州大部分区域，均可实现 “211限时达”（当日上午11:00之前提交的现货订单，当日送达），同时可享受货到付款、POS刷卡、上门配送、取件等服务，为网友们带来全新的购物体验！ </p><p><br></p><p>京东将始终秉承“客户为先”的价值理念，全力推进渠道下沉战略实施工作，将更多品类的高品质商品送到您身边。让您切身感受到：商品就在身边，服务就在眼前。</p><p><br></p>祝您购物愉快！</div>

        </div>

    </div>
</body>
</html>
