@using MVCExtention;
@{
    ViewBag.Title = "短信接口设置";
}

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="@Url.Action("Edit")"><i></i><span>新增</span></a></li>
                    <li><a class="add" href="javascript:;" onclick="EditGrid('jqxgrid', '@Url.Action("Edit")');"><i></i><span>编辑</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="DelGrid('jqxgrid', '@Url.Action("Delete")');"><i></i><span>删除</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="jqxgrid"></div>
</div>
<!--/列表-->
@section  scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            var url = "@Url.Action("GetList")";
            var datafields = [

  { name: 'ID' },
  { name: 'Name' },
  { name: 'UserNo' }, 
  { name: 'Url' },
  { name: 'IsEnable' },
  { name: 'TelNum' },
  { name: 'MaxWordCount' } 
            ];
            var columns = [ 
  { text: '短信平台名称', dataField: 'Name', cellsalign: "left", width: 200 },

  { text: '用户名', dataField: 'UserNo', cellsalign: "left", width: 200 },

  { text: '接口Url', dataField: 'Url', cellsalign: "left", width: 200 },

  { text: '启用', dataField: 'IsEnable',@HelperExtend.ParseEnable() },

  { text: '手机号码', dataField: 'TelNum', cellsalign: "left" },

  { text: '最大字数', dataField: 'MaxWordCount', cellsalign: "right" } 

            ];
            CreateGrid("jqxgrid", url, datafields, columns);


        });
    </script>
}
