@using MVCExtention;
@{
    ViewBag.Title = "商品分类";
}

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="@Url.Action("Edit")"><i></i><span>新增</span></a></li>
                    <li><a class="edit" href="javascript:;" onclick="EditTree('treeGrid', '@Url.Action("Edit")');"><i></i><span>修改</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="DelTree('treeGrid', '@Url.Action("Delete")');"><i></i><span>删除</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="treeGrid">
    </div>
</div>
<!--/列表-->
@section  scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            var url = "@Url.Action("GetList")";
            var datafields = [{ name: 'ID' }, { name: 'Code' }, { name: 'Name' },

		{ name: 'ParentID' }, { name: 'ClassCode' }, { name: 'IsMx' },

		{ name: 'OrderNo' }, { name: 'Theme' }, { name: 'PageTitle' },

		{ name: 'Description' }, { name: 'KewWord' }, { name: 'Depth' },

		{ name: 'SKUPrefix' }, { name: 'BigLogo' }, { name: 'SmallLogo' },

		{ name: 'IsEnable' }, { name: 'Note' }, { name: 'AssociatedProductType' }];
            var columns = [
      { text: '编号', dataField: 'Code', width: 200, cellsalign: "left" },

  { text: '分类名称', dataField: 'Name', width: 200, cellsalign: "left" },

 

  { text: '顺序', dataField: 'OrderNo', width: 80, cellsalign: "right" },
  { text: '启用', dataField: 'IsEnable', width: 80,@HelperExtend.ParseEnable() },

  { text: '分类描述', dataField: 'Note', cellsalign: "left" }];
            CreateTree("treeGrid", url, datafields, columns);


        });
    </script>

}
