<?xml version="1.0" encoding="utf-8" ?>
<Gateway>

  <currencies>
    <currency code="CNY" symbol="￥" name="人民币"  enabled="true" />
    <currency code="USD" symbol="$" name="美元"  enabled="false" />
    <currency code="EUR" symbol="€" name="欧元"  enabled="false" />
    <currency code="GBP" symbol="£" name="英磅"  enabled="false" />
    <currency code="CAD" symbol="$" name="加拿大元"  enabled="false" />
    <currency code="AUD" symbol="$" name="澳大利亚元"  enabled="false" />
    <currency code="RUR" symbol="р." name="卢布"  enabled="false" />
    <currency code="HKD" symbol="HK$" name="港币"  enabled="false" />
    <currency code="MOP" symbol="MOP" name="澳门元"  enabled="false" />
    <currency code="TWD" symbol="NT$" name="新台币"  enabled="false" />
    <currency code="KRW" symbol="₩" name="韩元"  enabled="false" />
    <currency code="SGD" symbol="$" name="新加坡元"  enabled="false" />
    <currency code="NZD" symbol="$" name="新西兰元"  enabled="false" />
    <currency code="JPY" symbol="¥" name="日元"  enabled="false" />
  </currencies>
  <!--
  // name = 支付网关名称，此名称必需唯一
  // description = 支付网关的相关说明
  // url = 支付网关网站
  // logo = 支付网关的logo
  // emailAddress = 是否需要商户电子邮件地址
  // sellerAccount = 是否需要商户号
  // primaryKey = 是否需要第一密钥
  // secondkey = 是否需要第二密钥
  // password = 是否需要商户密码
  // partner = 是否需要填写合作伙伴商户号
  // requestType = 付款请求提供者类的类型
  // notifyType = 网关通知提供者类的类型
  // supportedCurrency = 支付网关所接受的货币类型，使用货币代码，用逗号分开，如"CNY,USD"
  -->

  <providers>
    <clear/>

    <add
        name="wechat" description="" url="http://mp.weixin.qq.com/" logo="https://wx.gtimg.com/mch/img/logo.png"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="true" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.WeChat.WeChatRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Web.Handlers.Shop.Pay.WeChat.WeChatNotify,Maticsoft.Web"
        urlFormat="/pay/wechat.aspx?orderid={0}&amp;data={1}&amp;showwxpaytitle=1"
        supportedCurrency="CNY" displayName="微信支付"
      />

    <add
        name="alipayassure" description="" url="https://b.alipay.com/order/productSet.htm" logo="https://img.alipay.com/img/logo/logo.gif"
        emailAddress="true" sellerAccount="true" primaryKey="true" secondKey="true" password="false" partner="true"
        requestType="Maticsoft.Payment.PaymentInterface.AlipayAssure.AssureRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.AlipayAssure.AlipayAssureNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="支付宝担保交易"
      />

    <add
        name="alipaydirect" description="" url="https://b.alipay.com/order/productSet.htm" logo="https://img.alipay.com/img/logo/logo.gif"
        emailAddress="true" sellerAccount="true" primaryKey="true" secondKey="true" password="false" partner="true"
        requestType="Maticsoft.Payment.PaymentInterface.AlipayDirect.DirectRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.AlipayDirect.AlipayDirectNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="支付宝即时到帐交易"
      />

    <add
        name="alipaywap" description="" url="https://b.alipay.com/order/productSet.htm" logo="https://img.alipay.com/img/logo/logo.gif"
        emailAddress="true" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="true"
        requestType="Maticsoft.Payment.PaymentInterface.AlipayWap.AlipayWapRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.AlipayWap.AlipayWapNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="支付宝手机网页(WAP)即时到账"
        useNotifyMode="true"
      />

    <add
        name="alipaystandard" description="" url="https://b.alipay.com/order/productSet.htm" logo="https://img.alipay.com/img/logo/logo.gif"
        emailAddress="true" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="true"
        requestType="Maticsoft.Payment.PaymentInterface.Alipay.StandardRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.Alipay.AlipayNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="支付宝标准双接口(即时到帐流程, 兼容担保支付通知)"
      />

    <add
        name="tenpay" description="" url="http://mch.tenpay.com/market/index.shtml" logo="http://www.tenpay.com/zft/images/logo.jpg"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.Tenpay.TenpayRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.Tenpay.TenpayNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="财付通即时交易"
      />

    <add
        name="tenpayassure" description="" url="http://mch.tenpay.com/market/index.shtml" logo="http://www.tenpay.com/zft/images/logo.jpg"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.TenpayAssure.TenpayAssureRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.TenpayAssure.TenpayAssureNotify,Maticsoft.Payment"
        supportedCurrency="CNY,USD,HKD" displayName="财付通担保交易"
      />

    <add
        name="99bill" description="" url="http://www.99bill.com" logo="https://img.99bill.com/seashell/website/img/common/default/logo.gif"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="true"
        requestType="Maticsoft.Payment.PaymentInterface.Bill99.Bill99Request,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.Bill99.Bill99Notify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="快钱"
      />

    <add
        name="shengpay" description="" url="https://www.shengpay.com/" logo="https://www.shengpay.com/common/img/logo_shengfutong.png"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.ShengPay.ShengPayRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.ShengPay.ShengPayNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="盛付通"
      />

    <add
        name="paypal" description="" url="http://www.paypal.com/cn" logo="https://www.paypalobjects.com/zh_CN/CN/i/logo/paypal_logo.gif"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.Paypal.PaypalRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.Paypal.PaypalNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="贝宝中国"
      />

    <add
        name="cod" description="" url="" logo=""
        emailAddress="false" sellerAccount="false" primaryKey="false" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.Cod.CodRequest,Maticsoft.Payment"
        notifyType=""
        supportedCurrency="CNY" urlFormat="/pay/cod/{0}/{1}" displayName="货到付款"
      />
    <add
        name="advanceaccount" description="" url="" logo=""
        emailAddress="false" sellerAccount="false" primaryKey="false" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.Advance.AdvanceRequest,Maticsoft.Payment"
        notifyType=""
        supportedCurrency="" urlFormat="/pay/balance/{0}/{1}" displayName="预付款账户(余额支付)"
      />
    <!--

    <add
        name="bank" description="" url="" logo=""
        emailAddress="false" sellerAccount="false" primaryKey="false" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.Bank.BankRequest,Maticsoft.Payment"
        notifyType=""
        supportedCurrency="" urlFormat="/pay/bank/{0}/{1}" displayName="银行汇款"
      />
      
<<<<< 剩余接口 >>>>
支付宝担保交易 <b.alipay.com/order/productSet.htm>
支付宝即时到帐交易 <b.alipay.com/order/productSet.htm>
财付通即时交易 <mch.tenpay.com/market/index.shtml>
财付通担保交易 <mch.tenpay.com/market/index.shtml>
快钱 <www.99bill.com>
盛付通 <www.shengpay.com>

预付款账户(账户储值支付)
货到付款
银行汇款
<<<<< 以下删除 >>>>
支付宝标准双接口(旧) <业务已变更>
易付通  <www.xpay.cn 网站404>
中国联合在线支付网 <www.npay.com.cn 业务终止>
环迅易捷支付 <www.ips.com.cn 长期未更新>
环迅(IPS v3.0) <www.ips.com.cn 长期未更新>
中国在线支付网 <www.ipay.cn 长期未更新>
云网支付 <www.cncard.net 业务终止>
AllBuy  <www.allbuy.cn 网站404>
中国移动手机支付 <支付接口404>
-->
    <!-- 以下待删除 -->

    <!--<add
        name="cmpay_web" description="" url="http://cmpy.com.cn/shoujizhifu/" logo="http://www.92hi.com/img/shoujizhifu.jpg"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.cmpay_web.CMPayWebRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.cmpay_web.CMPayWebNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="中国移动手机支付"
      />

    <add
        name="allbuy" description="" url="http://www.allbuy.cn" logo="http://www.allbuy.cn/images/logo.gif"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.Allbuy.AllbuyRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.Allbuy.AllbuyNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="AllBuy"
      />

    <add
        name="chinabank" description="" url="http://www.chinabank.com.cn" logo="http://www.chinabank.com.cn/images/logo.gif"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.Chinabank.ChinabankRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.Chinabank.ChinabankNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="网银在线"
      />

    <add
        name="cncard" description="" url="http://www.cncard.net/api/agentreg.asp?aid=10042^sign=c9294230d4bfdd0384df9fb7898d71a2" logo="http://www.cncard.net/images/default_top_logo.gif"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.Cncard.CncardRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.Cncard.CncardNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="云网支付"
      />

    <add
        name="ipay" description="" url="http://www.ipay.cn" logo="http://www.ipay.cn/home/tpl/cn/images/ipay_logo.gif"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.Ipay.IpayRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.Ipay.IpayNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="中国在线支付网"
      />

    <add
        name="ips" description="" url="http://www.ips.com.cn/" logo="http://www.ips.com.cn/img/logo.jpg"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.IPS.IpsRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.IPS.IpsNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="环迅(IPS v3.0)"
      />

    <add
        name="ipsexpress" description="" url="http://www.ips.com.cn/" logo="http://www.ips.com.cn/img/logo.jpg"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.IPSExpress.IpsExpressRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.IPSExpress.IpsExpressNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="环迅易捷支付"
      />


    <add
        name="yeepay" description="" url="https://www.yeepay.com/" logo="http://www.yeepay.com/images/default/logo.jpg"
        emailAddress="false" sellerAccount="true" primaryKey="true" secondKey="false" password="false" partner="false"
        requestType="Maticsoft.Payment.PaymentInterface.YeePay.YeepayRequest,Maticsoft.Payment"
        notifyType="Maticsoft.Payment.PaymentInterface.YeePay.YeepayNotify,Maticsoft.Payment"
        supportedCurrency="CNY" displayName="易宝支付"
      />-->

  </providers>

</Gateway>