@using MVCExtention;
@{
    ViewBag.Title = "帮助内容";
}

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="@Url.Action("Edit")"><i></i><span>新增</span></a></li>
                    <li><a class="add" href="javascript:;" onclick="editOne();"><i></i><span>编辑</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="deleteOne();"><i></i><span>删除</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="treeGrid">
    </div>
    <!--/列表-->
    @section  scripts{


        <script type="text/javascript">
            function editOne()
            {
                treeid = '#treeGrid'
                var data = $(treeid).jqxTreeGrid('getSelection');
                if (data.length == 1) {
                    if (data[0].IsContent)
                    {
                        EditTree('treeGrid', '@Url.Action("Edit")');
                    } else { ErrorMsg("请选择一条帮助信息"); }

                } else { ErrorMsg("请选择一条数据"); }

            }

            function deleteOne()
            {
                treeid = '#treeGrid'
                var data = $(treeid).jqxTreeGrid('getSelection');
                if (data.length == 1) {
                    if (data[0].IsContent) {
                        DelTree('treeGrid', '@Url.Action("Delete")');
                    } else { ErrorMsg("请选择一条帮助信息"); }

                } else { ErrorMsg("请选择一条数据"); }



            }
            $(document).ready(function () {
                var url = "@Url.Action("GetList")";
                var datafields = [{ name: 'ID' }, { name: 'ParentID' }, { name: 'Code' }, { name: 'Name' },

           { name: 'IsShowButtom' }, { name: 'IsShowNavi' },
            { name: 'OrderNo' }, {name:"IsContent"}];
                var columns = [
        {
            text: '编号', dataField: 'Code', cellsalign: "left", cellsRenderer: function (rowKey, dataField, value, data) {
                if (data.IsContent) {

                    return '<span class="treeicon file"  style="margin:0px 5px;display: inline-block" ></span>' + value;
                } else { return '<span class="treeicon folder"  style="margin:0px 5px;display: inline-block"  ></span>' + value; }
            }
        },
       
                 { text: '名称', dataField: 'Name', cellsalign: "left" }, 
                 { text: '底部展示', dataField: 'IsShowButtom', width: 80 ,@HelperExtend.Parsebool()},
                 { text: '导航展示', dataField: 'IsShowNavi', width: 80,@HelperExtend.Parsebool() },
                 { text: '顺序', dataField: 'OrderNo', width: 50 },
                 { text: '备注', dataField: 'Note', cellsalign: "left" }];
                CreateTree("treeGrid", url, datafields, columns );

            });
        </script>


    }
