<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link href="css/cart.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id='header'>
        <div class='main'>
            <ul class="fl topleft">
                <li><div class="xing"></div><a href="">您好，欢迎您来到红七商城购物！</a></li>
                <li class="xuan">
                    <div class="erwei"></div>
                    <a href="" class="aa">
                        登录
                    </a>

                </li>
                <li>|</li>
                <li class="xuan">
                    <div class="erwei"></div>
                    <a href="" class="aa">
                        注册
                    </a>

                </li>
            </ul>

            <ul class="fr topright">
                <li class="guanzhu bj">
                    <i class="ci-left"></i>
                    <a href="#">关注红七</a>
                    <i class="ci-right ">
                        <s class="jt">◇</s>
                    </i>
                    <div class="guanzhu1"><img src="css/images/54c84f72Ncc1a02a2.jpg"></div>
                </li>
                <li class="" style='padding-left:30px;padding-right: 5px;'>
                    <i class="ci-left-cart"></i>
                    <a href="#">我的购物车</a>


                </li>
                <li class="guanzhu " style='padding-left:10px;'>
                    <a href="#">购物帮助</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="floor" style=" width 990px;">
        <div class="cart-main">
            <div class="cart-filter-bar">

            </div>
            <div class='cart-header'>
                <div class="column checkbox">
                    <div class="cart-checkbox">
                        <input type="checkbox" checked="checked" id="toggle-checkboxes_up" name="toggle-checkboxes" class="jdcheckbox">
                    </div>
                    全选
                </div>
                <div class="column goods">商品</div>
                <div class="column props"></div>
                <div class="column price">单价(元)</div>
                <div class="column quantity">数量</div>
                <div class="column sum">小计(元)</div>
                <div class="column action">操作</div>
            </div>

            <div class="cart-tbody">
                <div class="item-list">
                    <div class="item-single  item-item ">
                        <div class="item-form">
                            <div class="cell p-checkbox">
                                <div class="cart-checkbox">
                                    <input type="checkbox" name="checkItem" lass="jdcheckbox" />

                                    <span class="line-circle"></span>
                                </div>
                            </div>
                            <div class="cell p-goods">
                                <div class="goods-item">
                                    <div class="p-img">
                                        <a href="http://item.jd.com/1616043020.html" target="_blank"><img src="http://img10.360buyimg.com/cms/s80x80_jfs/t1585/77/1355422030/217136/bb380bc5/55ee416aN2218124e.jpg"></a>
                                    </div>
                                    <div class="item-msg">
                                        <div class="p-name">
                                            <a href="http://item.jd.com/1616043020.html" target="_blank">骆驼牌冰雪系列冲锋衣 男 三合一两件套 秋冬季防风保暖抓绒内胆情侣款登山服 宝蓝/深蓝男款 L</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cell p-props p-props-new">
                                <div class="props-txt" title="宝蓝/深蓝男款">颜色：宝蓝/深蓝男款</div>
                                <div class="props-txt" title="L">尺码：L</div>
                            </div>

                            <div class="cell p-price"><strong>299.00</strong></div>
                            <div class="cell p-quantity">
                                <div class="quantity-form">
                                    <a href="javascript:void(0);" class="decrement ">-</a>
                                    <input autocomplete="off" type="text" class="itxt" value="5">
                                    <a href="javascript:void(0);" class="increment">+</a>
                                </div>
                                <div class="ac ftx-03 quantity-txt" _stock="stock_1616043020">有货</div>
                            </div>
                            <div class="cell p-sum">
                                <strong>1495.00</strong>
                            </div>
                            <div class="cell p-ops">
                                <a class="cart-remove" href="javascript:void(0);">删除</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-toolbar" style="width: 988px; height: 50px;">
                <div class="toolbar-wrap">
                    <div class="select-all">
                        <div class="cart-checkbox">
                            <input type="checkbox" checked="checked" class="jdcheckbox">
                        </div>
                        全选
                    </div>
                    <div class="operation">
                        <a href="#none">删除选中的商品</a>
                    </div>
                    <div class="toolbar-right">
                        <div class="btn-area">
                            <a href="javascript:void(0);" onclick="return false;" class="submit-btn" data-bind="1">
                                去结算<b></b>
                            </a>
                        </div>
                        <div class="price-sum">
                            <div>
                                <span class="txt">总价（不含运费）：</span>
                                <span class="price sumPrice"><em>￥4519.40</em></span>
                                <br>
                                <span class="txt">已节省：</span>
                                <span class="price totalRePrice">-￥100.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <div class="space20"></div>
</body>
</html>