

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
@Styles.Render("~/bundles/listcss");

<body>
    <div class="floor">


        <div class="m-list" style="margin-left:210px;">
            <div class="m-list-wrap">
                <div id="J_filter" class="filter">
                    <div class="f-line top">
                        <div class="f-sort">
                            <a href="javascript:;" id="sort_all" data-sort="" class="sort curr">综合排序<i></i></a>
                            <a href="javascript:;" id="sort_sales" data-sort='' class="sort">销量<i></i></a>
                            <a href="javascript:;" id="sort_price" data-sort='SalePrice desc' class="sort">价格<i></i></a>
                            <a href="javascript:;" id="sort_comment" data-sort='' class="sort">评论数<i></i></a>
                        </div>

                        <div id="J_topPage" class="f-pager">
                            <span class="fp-text"><b>1</b><em>/</em><i>100</i></span>
                            <a class="fp-prev disabled" href="javascript:;">&lt;</a>
                            <a class="fp-next" href="javascript:;">&gt;</a>
                        </div>
                        <div class="f-result-sum">共<span id="J_resCount" class="num">5.0万</span>件商品</div>
                    </div>
                </div>
            </div>

            <div id="J_goodsList" class="goods-list-v1 ">
                <ul id="J_goodsList_ul"></ul>
            </div>
        </div>

        <div class="side-list" style="height: 100px; width: 210px;  position: absolute; top: 0;">
            <div id="side-cat-list" style=" border: 1px solid #ddd; margin-bottom: 10px; margin-right: 10px;">
                <div class="mt">
                    <h3>
                        商品类别
                    </h3>
                </div>
                <div class="lb">
                    <ul>
                        <li><a href="#" class="curr">冲锋衣</a></li>
                        <li><a href="#">冲锋衣</a></li>
                        <li><a href="#">冲锋衣</a></li>
                        <li><a href="#">冲锋衣</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        var sortmodel = "";
        function getSortAttr() {
            var sortinfo = $(".f-sort .curr").attr("data-sort");

            return sortinfo;
        }


        $(function () {

            $(".f-sort .sort").click(function () {
                if ($(this).hasClass("curr") && $(this).attr("id") != "sort_sales") {
                    return;
                }
                $(".f-sort .sort").removeClass("curr");
                $(this).addClass("curr");
                if ($(this).hasClass("down")) {
                    $(this).removeClass("down");
                    $(this).addClass("up");
                    $(this).attr("data-sort", "SaleCounts desc");
                }
                else if ($(this).hasClass("up")) {
                    $(this).removeClass("up");
                    $(this).addClass("down");
                    $(this).attr("data-sort", "SaleCounts");
                } else if ($(this).attr("id") == "sort_sales") {
                    $(this).addClass("up");//高到低
                    $(this).attr("data-sort", "SaleCounts desc");
                } else {
                    $(".f-sort .sort").removeClass("up");
                    $(".f-sort .sort").removeClass("down");
                }
                getSortAttr();
                initWrap();
            });


            $("#J_goodsList_ul").delegate("li", "mouseenter", function () {
                $(this).addClass("hover");
            }).delegate("li", "mouseleave", function () {
                $(this).removeClass("hover");
            });

            initWrap();


        });
        function initWrap() {
            var data = getData(getSortAttr(), "1");
            var ul = $("#J_goodsList_ul");
            ul.empty();
            for (var item in data.data.Data) {
                ul.append(getItem(data.data.Data[item]));
            }
        }

        function getItem(obj) {
            var res = [];
            res.push(" <li class='gl-item '>");
            res.push("<div class='gl-i-wrap'>");
            res.push("<div class='p-img'><a target='_blank' title='' href='/Product/Index/" + obj.ID + "'> <img width='220' height='220' class='err-product' src='" + obj.FilePath + " '> </a> </div>");
            res.push("<div class='p-price'><strong><em>￥</em><i>" + obj.SalePrice + "</i></strong><div class='p-icons'><i class='goods-icons-s1' title=''>" + obj.TypeName + "</i></div> </div>");
            res.push("<div class='p-name p-name-type-2'>");
            res.push("<a target='_blank' title='' href='/Product/Index/" + obj.ID + "'> <em>  " + obj.Name + "  </em>");
            res.push("<i class='promo-words'> </i> </a></div>");
            res.push("<div class='p-commit'><strong>已有<a target='_blank' href=''>6929</a>人评价</strong> </div>");

            res.push("<div class='p-operate'><a class='p-o-btn contrast J_contrast'  target='_blank' href='/Product/Index/" + obj.ID + "'><i></i>看看</a>");
            res.push("<a class='p-o-btn focus J_focus'  href='javascript:;'><i></i>关注</a>");
            res.push("<a class='p-o-btn addcart' href='#'  target='_blank'><i></i>加入购物车</a></div>");
            res.push("</div> </li>");
            return res.join('');
        }


        function getData(sortype, page) {
            var reobj;
            $.ajax({
                url: "/api/app/GetProductsByCategory/0048996c-99a4-46b2-b1fe-7aa041db4aa5/" + page + "/" + sortype,
                type: "get",
                data: {},
                dataType: "json",
                async: false,
                success: function (reval) {

                    reobj = reval;
                },
                error: function (err) {
                    throw err.responseText;
                    return false;
                }
            });
            return reobj;
        }
    </script>
</body>
</html>
