@using MVCExtention;
@{
    ViewBag.Title = "支付方式";
}

<!--工具栏-->
<div id="floatHead" class="toolbar-wrap">
    <div class="toolbar">
        <div class="box-wrap">
            <a class="menu-btn"></a>
            <div class="l-list">
                <ul class="icon-list">
                    <li><a class="add" href="@Url.Action("Edit")"><i></i><span>新增</span></a></li>
                    <li><a class="add" href="javascript:;" onclick="EditGrid('jqxgrid', '@Url.Action("Edit")');"><i></i><span>编辑</span></a></li>
                    <li><a class="del" href="javascript:;" onclick="DelGrid('jqxgrid', '@Url.Action("Delete")');"><i></i><span>删除</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--/工具栏-->
<!--列表-->
<div class="table-container">
    <div id="jqxgrid"></div>
</div>
<!--/列表-->
@section  scripts{
     

    <script type="text/javascript">
        $(document).ready(function () {
            var url = "@Url.Action("GetList")";
            var datafields = [{ name: 'ID' }, { name: 'MerchantCode' }, { name: 'EmailAddress' },

		{ name: 'SecretKey' }, { name: 'SecondKey' }, { name: 'Password' },

		{ name: 'Partner' }, { name: 'Name' }, { name: 'Description' },

		{ name: 'GatewayName' }, { name: 'DisplaySequence' }, { name: 'Charge' },

		{ name: 'IsPercent' }, { name: 'AllowRecharge' }, { name: 'Logo' },

		{ name: 'DrivePath' }];
            var columns = [
{ text: '方式名称', dataField: 'Name', cellsalign: "left", width: 150 },
  { text: '商户号', dataField: 'MerchantCode', cellsalign: "left", width: 150 },
    { text: '接口类型', dataField: 'GatewayName', },
   { text: '顺序', dataField: 'DisplaySequence', cellsalign: "right", width: 50 } 
  ];
            CreateGrid("jqxgrid", url, datafields, columns);
             
        });
    </script>
   
}
